# This is a sample file.
# Please remove the .sample file extension when configured properly.

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost/<PRODUCTION_DATABASE>
    username: <PRODUCTION_USERNAME>
    password: <PRODUCTION_PASSWORD>
  jpa:
    database: POSTGRESQL
    hibernate:
      naming_strategy: org.hibernate.cfg.ImprovedNamingStrategy
      ddl-auto: update
