# This is a sample file.
# Please remove the .sample file extension when configured properly.

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost/dev-pfb
    username: dev-postgres
    password: dev-postgres
