<?xml version="1.0" encoding="UTF-8"?>
<web-app id="gtvg" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <display-name>amos-ss15-proj4</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <filter>
        <filter-name>PersonalFilter</filter-name>
        <filter-class>personal/filter/PersonalFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>PersonalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
