<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">

<head>
<title>Personalfragebogen 2.0 - v0.1</title>
</head>

<body>

<div layout:fragment="content">
    <!-- Start: Language selectors -->
        <span style="float: right">
            <a href="?lang=en">
                <button type="button" th:with="lang=${en}">
                    <img th:src="@{/images/uk.gif}" src="../../static/images/uk.gif"
                         class="img-responsive" alt="Flag of the UK"
                         style="width: 32px; height: 24px;" />
                </button>
            </a>
            <a href="?lang=de">
                <button th:with="lang=${de}">
                    <img th:src="@{/images/deutschlandflagge.jpg}" src="../../static/images/uk.gif"
                         class="img-responsive" alt="Flag of Germany"
                         style="width: 32px; height: 24px;" />
                </button>
            </a>
        </span>
    <!-- End: Language selectors-->

        <h1 th:text="#{HEADER}"></h1>
        <div th:if="${param.m} != null" th:switch="${param.m[0]}">
	        <p th:case="'profileChanged'" th:text="#{clientDashboard.profileChanged}" style='color:green;font-weight:bold;' />
        </div>
        <a th:href="@{/client/profile}" th:text="#{KEYWORD.profile}"></a> 
		<a th:href="@{/client/edit}" th:text="#{KEYWORD.edit}"></a> 
        <h2 th:text="#{AccountPage.header}"></h2>
        <a th:href="@{/employee/new}" th:text="#{AccountPage.newEmployee}">New Employee</a>
        <table class="table table-striped">
            <tr>
                <th th:text="#{AccountPage.edit}"></th>
                <th th:text="#{AccountPage.delete}"></th>
                <th th:text="#{AccountPage.download}"></th>
                <th th:text="#{Dashboard.sendData}"></th>
                <th th:text="#{AccountPage.token}"></th>
                <th th:text="#{EMPLOYEE.personnelNumber}"></th>
                <th th:text="#{EMPLOYEE.familyName}"></th>
                <th th:text="#{EMPLOYEE.firstName}"></th>
                <th th:text="#{EMPLOYEE.maidenName}"></th>
                <th th:text="#{EMPLOYEE.birthDate}"></th>
                <th th:text="#{EMPLOYEE.street}"></th>
                <th th:text="#{EMPLOYEE.houseNumber}"></th>
                <th th:text="#{EMPLOYEE.zipCode}"></th>
                <th th:text="#{EMPLOYEE.city}"></th>
                <th th:text="#{EMPLOYEE.sex}"></th>
            </tr>
            <tr th:each="Employee : ${Employees}">
                <td><a th:href="@{'/employee/edit?id=' + ${Employee.id}}"
                    th:text="#{AccountPage.edit}">Edit</a>
                </td>
                <td><a th:href="@{'/employee/delete?id=' + ${Employee.id}}"
                    th:onClick="'return confirm(\'' + #{AccountPage.deleteConfirm} + '\');'"
                    th:text="#{AccountPage.delete}">Delete</a>
                </td>
                <td><a
                    th:href="@{'/employee/download/text?id=' + ${Employee.id}}"
                    th:text="#{EmployeeSubmit.downloadLink}">Text</a> <br /> <a
                    th:href="@{'/employee/download/zip?id=' + ${Employee.id}}"
                    th:text="#{EmployeeSubmit.zipDownloadLink}">Zip</a>
                </td>
                <td><button
						th:OnClick="@{'window.location.href=\'/employee/email/send?id=' + ${Employee.id} + '&amp;' + 'to=\' + window.prompt(\'' + #{Dashboard.enterEmail} + '\');'}"
						th:text="#{Dashboard.sendEmail}"></button></td>
                <td><button
                        th:OnClick="'window.alert(\''+ ${Employee.token} + '\');'"
                        th:text="#{AccountPage.ViewToken}">View token</button>
                </td>
                <td th:text="${Employee.personnelNumber}"></td>
                <td th:text="${Employee.familyName}">Mustermann</td>
                <td th:text="${Employee.firstName}">Max</td>
                <td th:text="${Employee.maidenName}"></td>
                <td th:text="${Employee.birthDate}">20/11/2011</td>
                <td th:text="${Employee.street}">Musterstraße</td>
                <td th:text="${Employee.houseNumber}">42</td>
                <td th:text="${Employee.zipCode}">0815</td>
                <td th:text="${Employee.city}">Musterstadt</td>
                <td th:text="${Employee.sex}">männlich</td>
            </tr>
        </table>
</div>

</body>
</html>
