<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">

<head>
<title>Personalfragebogen 2.0 - v0.1</title>
</head>
<body>

	<div layout:fragment="content">
		<h1 th:text="#{ClientEdit.header}"></h1>

		<form th:action="@{/client/edit/submit}" th:object="${Client}"
			method="POST">
			<p th:text="#{CLIENT.id} + ': ' + *{id}" />

			<fieldset>
				<label for="LODAS">LODAS</label><input type="radio" id="LODAS"
					name="outputFormat" value="LODAS" th:field="*{outputFormat}"></input>
				<label for="LuG">LuG</label><input type="radio" id="LuG"
					name="outputFormat" value="LuG" th:field="*{outputFormat}"></input>
			</fieldset>

			<label class="labelClass" for="loginAndSecurity"
				th:text="#{ClientEdit.loginAndSecurity}"></label>

			<div class="form-group">
				<label for="Email" th:text="#{CLIENT.email}"></label> <input
					readonly="true" type="email" class="form-control" id="Email"
					th:placeholder="#{CLIENT.placeholder.email}" th:field="*{email}"></input>
			</div>

			<div th:if="${param.m} != null" th:switch="${param.m[0]}">
				<p th:case="'newPasswordFailed'"
					th:text="#{clientEdit.newPasswordFailed}"
					style='color: green; font-weight: bold;' />
			</div>

			<div class="form-group">
				<label for="NewPassword" th:text="#{ClientEdit.NewPassword}"></label>
				<input type="password" class="form-control" id="NewPassword"
					th:placeholder="#{CLIENT.placeholder.newPassword}" name="NewPassword"></input>
			</div>

			<div class="form-group">
				<label for="ConfirmPassword" th:text="#{ClientEdit.ConfirmPassword}"></label>
				<input type="password" class="form-control" id="ConfirmPassword"
					th:placeholder="#{CLIENT.placeholder.confirmPassword}"
					name="ConfirmPassword"></input>
			</div>

			<div class="form-group">
				<label for="OldPassword" th:text="#{ClientEdit.OldPassword}"></label>
				<input type="password" class="form-control" id="OldPassword"
					th:placeholder="#{CLIENT.placeholder.oldPassword}" name="OldPassword"></input>
			</div>

			<div class="form-group">
				<label for="ZipPassword" th:text="#{ClientEdit.ZipPassword}"></label>
				<input type="password" class="form-control" id="ZipPassword"
					th:placeholder="#{CLIENT.placeholder.zipPassword}"
					th:field="*{zipPassword}"></input>
			</div>


			<label class="labelClass" for="personalDetails"
				th:text="#{RegistrationPage.personalDetails}"></label>

			<div class="form-group">
				<label for="title" th:text="#{CLIENT.title}"></label>
					<select th:field="*{title}" class="form-control">
						<option value="" th:text="#{RegistrationPage.select}"></option>
						<option th:each="title : ${allTitles}" th:value="${title.name()}"
						th:text="${title.getText()}"></option>
					</select>
			</div>
			
			<div class="form-group">
				<label for="firstname" th:text="#{CLIENT.firstName}"></label> <input
					type="text" class="form-control" id="firstname"
					th:placeholder="#{CLIENT.placeholder.firstName}" th:field="*{firstName}"></input>
			</div>


			<div class="form-group">
				<label for="familyname" th:text="#{CLIENT.familyName}"></label> <input
					type="text" class="form-control" id="familyname"
					th:placeholder="#{CLIENT.placeholder.lastName}" th:field="*{familyName}"></input>
			</div>

			<div class="form-group">
				<label for="birthdate" th:text="#{CLIENT.birthDate}"></label> <input
					type="birthdate" class="form-control" id="birthdate"
					th:placeholder="#{CLIENT.placeholder.birthDate}" th:field="*{birthDate}"></input>
			</div>

			<div class="form-group">
				<label for="officePhoneNumber" th:text="#{CLIENT.officePhoneNumber}"></label>
				<input type="text" class="form-control" id="officePhoneNumber"
					th:placeholder="#{CLIENT.placeholder.phoneNumber}"
					th:field="*{officePhoneNumber}"></input>
			</div>

			<div class="form-group">
				<label for="mobilePhoneNumber" th:text="#{CLIENT.mobilePhoneNumber}"></label>
				<input type="text" class="form-control" id="mobilePhoneNumber"
					th:placeholder="#{CLIENT.placeholder.mobileNumber}"
					th:field="*{mobilePhoneNumber}"></input>
			</div>


			<label class="labelClass" for="companyDetails"
				th:text="#{RegistrationPage.companyDetails}"></label>

			<div class="form-group">
				<label for="companyName" th:text="#{CLIENT.companyName}"></label> <input
					type="text" class="form-control" id="companyName"
					th:placeholder="#{CLIENT.placeholder.companyName}"
					th:field="*{companyName}"></input>
			</div>

			<div class="form-group">
				<label for="companyType" th:text="#{CLIENT.companyType}"></label> <input
					type="text" class="form-control" id="companyType"
					th:placeholder="#{CLIENT.placeholder.companyType}"
					th:field="*{companyType}"></input>
			</div>

			<div class="form-group">
				<label for="country" th:text="#{CLIENT.country}"></label> <input
					type="text" class="form-control" id="country"
					th:placeholder="#{CLIENT.placeholder.country}" th:field="*{country}"></input>
			</div>

			<div class="form-group">
				<label for="address" th:text="#{CLIENT.address}"></label> <input
					type="text" class="form-control" id="address"
					th:placeholder="#{CLIENT.placeholder.address}" th:field="*{address}"></input>
			</div>

			<div class="form-group">
				<label for="postcode" th:text="#{CLIENT.postcode}"></label> <input
					type="text" class="form-control" id="postcode"
					th:placeholder="#{CLIENT.placeholder.postcode}" th:field="*{postcode}"></input>
			</div>


			<button type="submit" class="btn btn-block btn-lg btn-primary">
				<span class="glyphicon glyphicon-ok" th:text="#{KEYWORD.submit}"></span>
			</button>
		</form>
	</div>
</body>

</html>