<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>
<body>

<div layout:fragment="content">
    <form th:action="@{/client/forgotPassword}" method="POST">
        <h1 th:text="#{ClientLogin.forgotPasswordHeader}"></h1>
        <div class="row">
            <div th:switch="${message}">
                <div th:case="'NoEmail'" th:text="#{ClientLogin.invalid}" style='color:red;font-weight:bold;'>Please enter your email address.</div>
            </div>
            <div class="form-group">
               <label th:for="email" th:text="#{ClientLogin.inputUsername}"></label>
               <input th:name="email" th:autofocus="true" th:required="true" th:id="email"
                      class="form-control" th:placeholder="#{placeholder.Username}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-5">
                <button type="submit" class="btn btn-success" style='margin:3px;'>
                    <span class="glyphicon glyphicon-ok"></span>
                    <span th:text="#{ClientLogin.newPassword}"></span>
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
