<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>
<body>

<div layout:fragment="content">
	<!-- Start: Language selectors -->
        <span style="float: right">
            <a href="?lang=en">
				<button type="button" th:with="lang=${en}">
					<img th:src="@{/images/uk.gif}" src="../../static/images/uk.gif"
						 class="img-responsive" alt="Flag of the UK"
						 style="width: 32px; height: 24px;" />
				</button>
			</a>
            <a href="?lang=de">
				<button th:with="lang=${de}">
					<img th:src="@{/images/deutschlandflagge.jpg}" src="../../static/images/uk.gif"
						 class="img-responsive" alt="Flag of Germany"
						 style="width: 32px; height: 24px;" />
				</button>
			</a>
        </span>
	<!-- End: Language selectors-->
	<h1 th:text="#{Client.header}"></h1>
	
    <div th:object="${Client}">
    	<p th:text="#{CLIENT.id} + ': ' + *{id}" />
    	<p th:text="#{CLIENT.email} + ': ' + *{email}" />
    	<p th:text="#{CLIENT.title} + ': ' + *{title}" />
    	<p th:text="#{CLIENT.firstName} + ': ' + *{firstName}" />
    	<p th:text="#{CLIENT.familyName} + ': ' + *{familyName}" />
    	<p th:text="#{CLIENT.birthDate} + ': ' + *{birthDate}" />
    	<p th:text="#{CLIENT.officePhoneNumber} + ': ' + *{officePhoneNumber}" />
    	<p th:text="#{CLIENT.mobilePhoneNumber} + ': ' + *{mobilePhoneNumber}" />
    	<p th:text="#{CLIENT.companyName} + ': ' + *{companyName}" />
    	<p th:text="#{CLIENT.companyType} + ': ' + *{companyType}" />
    	<p th:text="#{CLIENT.country} + ': ' + *{country}" />
    	<p th:text="#{CLIENT.address} + ': ' + *{address}" />
    	<p th:text="#{CLIENT.postcode} + ': ' + *{postcode}" />
    </div>
    
    <a th:href="@{/client/edit}" th:text="#{KEYWORD.edit}"></a>
</div>
</body>

</html>

