<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>
<body>

<div layout:fragment="content">
    <form th:action="@{/client/submit}" th:object="${client}" method="POST">
        <h1 th:text="#{EmployeeForm.header}"></h1>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3 th:text="#{RegistrationPage.header}"></h3>
                    <label class="labelClass" for="personalDetails"
                        th:text="#{RegistrationPage.personalDetails}"
                        >
                    </label>
                    <div class="form-group">
                        <label for="title" th:text="#{RegistrationPage.title}"></label> <select
                            class="form-control">
                            <option value="" th:text="#{RegistrationPage.select}"></option>
                            <option th:each="title : ${allTitles}" th:value="${title.name()}"
                                th:text="${title.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="firstname" th:text="#{RegistrationPage.firstname}"></label>
                        <input type="text" class="form-control" id="firstname"
                            th:placeholder="#{placeholder.firstname}"></input>
                    </div>
                    <div class="form-group">
                        <label for="lastname" th:text="#{RegistrationPage.lastname}"></label>
                        <input type="text" class="form-control" id="lastname"
                            th:placeholder="#{placeholder.lastname}"></input>
                    </div>
                    <div class="form-group">
                        <label for="birthdate" th:text="#{RegistrationPage.birthdate}"></label>
                        <input type="birthdate" class="form-control" id="birthdate"
                            th:placeholder="#{placeholder.birthdate}"></input>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" th:text="#{RegistrationPage.phoneNumber}"></label>
                        <input type="text" class="form-control" id="phoneNumber"
                            th:placeholder="#{placeholder.phoneNumber}"></input>
                    </div>
                    <div class="form-group">
                        <label for="mobileNumber"
                            th:text="#{RegistrationPage.mobileNumber}"></label> <input
                            type="text" class="form-control" id="mobileNumber"
                            th:placeholder="#{placeholder.mobileNumber}"></input>
                    </div>
                    <label class="labelClass" for="companyDetails"
                        th:text="#{RegistrationPage.companyDetails}"></label>
                    <div class="form-group">
                        <label for="CompanyName" th:text="#{RegistrationPage.CompanyName}"></label>
                        <input type="text" class="form-control" id="CompanyName"
                            th:placeholder="#{placeholder.CompanyName}"></input>
                    </div>
                    <div class="form-group">
                        <label for="CompanyType" th:text="#{RegistrationPage.CompanyType}"></label>
                        <input type="text" class="form-control" id="CompanyType"
                            th:placeholder="#{placeholder.CompanyType}"></input>
                    </div>
                    <div class="form-group">
                        <label for="Country" th:text="#{RegistrationPage.Country}"></label>
                        <input type="text" class="form-control" id="Country"
                            th:placeholder="#{placeholder.Country}"></input>
                    </div>
                    <div class="form-group">
                        <label for="Address" th:text="#{RegistrationPage.Address}"></label>
                        <input type="text" class="form-control" id="Country"
                            th:placeholder="#{placeholder.Address}"></input>
                    </div>
                    <div class="form-group">
                        <label for="ZipCode" th:text="#{RegistrationPage.ZipCode}"></label>
                        <input type="text" class="form-control" id="ZipCode"
                            th:placeholder="#{placeholder.ZipCode}"></input>
                    </div>
                    <label class="labelClass" for="loginData"
                        th:text="#{RegistrationPage.loginData}"></label>
                    <div class="form-group">
                        <label for="CompanyEmail"
                            th:text="#{RegistrationPage.CompanyEmail}"></label> <input
                            type="email" class="form-control" id="CompanyEmail "
                            th:placeholder="#{placeholder.CompanyEmail}"
                            th:field="*{email}"></input>
                    </div>
                    <div class="form-group">
                        <label for="Password" th:text="#{RegistrationPage.Password}"></label>
                        <input type="password" class="form-control" id="Password"
                            th:placeholder="#{placeholder.Password}"></input>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword"
                            th:text="#{RegistrationPage.ConfirmPassword}"></label> <input
                            type="password" class="form-control" id="ConfirmPassword"
                            th:placeholder="#{placeholder.ConfirmPassword}"></input>
                    </div>
                    <div class="col-sm-6 col-sm-offset-5">
                        <button type="submit" class="btn btn-block btn-lg btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                            <span th:text="#{RegistrationPage.Submit}"></span>
                            </button>
                    </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>