<html class="no-js" lang="de" xmlns:th="http://www.thymeleaf.org">

<!-- External CSS hook for decorating pages -->
<div th:fragment="css-ext">
    <link rel="stylesheet" href=""></link>
    <link rel="stylesheet" href=""></link>
    <link rel="stylesheet" href=""></link>
</div>

<!-- JS hook for decorating pages -->
<div th:fragment="js-head">
    <script src=""></script>
    <script src=""></script>
    <script></script>
    <script></script>
    <script></script>
</div>

<!-- CSS hook for decorating pages -->
<div th:fragment="css">
    <style></style>
    <style></style>
</div>

<!-- JS hook for decorating pages -->
<div th:fragment="js-body">
    <script src=""></script>
    <script src=""></script>
    <script></script>
    <script></script>
    <script></script>
</div>

</html>
