<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>

<body>
<div layout:fragment="content">
        <form th:action="@{/employee/edit/submit}"  th:object="${employee}">
            <h1 th:text="#{HEADER}"></h1>
            <div th:each="invalidFieldErrorMessage : ${invalidFieldErrorMessages}">
                    <div th:text="#{'EMPLOYEE.InvalidField.' + ${invalidFieldErrorMessage}}" style='color:red;font-weight:bold;'>Error message.</div>
            </div>
            <div class="row">
                <h2 th:text="#{employeeEdit.personalDataSection}"></h2>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="id" th:text="#{EMPLOYEE.id}"></label>
                        <input th:field="*{id}" type="number" readonly="true" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.id}"/>
                    </div>
                    <div class="form-group">
                        <label for="personnelNumber" th:text="#{EMPLOYEE.personnelNumber}"></label>
                        <input th:field="*{personnelNumber}" type="number" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.personnelNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="familyName" th:text="#{EMPLOYEE.familyName} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{familyName}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.familyName}" />
                    </div>
                    <div class="form-group">
                        <label for="maidenName" th:text="#{EMPLOYEE.maidenName}"></label>
                        <input th:field="*{maidenName}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.maidenName}" />
                    </div>
                    <div class="form-group">
                        <label for="street" th:text="#{EMPLOYEE.street} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{street}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.street}" />
                    </div>
                    <div class="form-group">
                        <label for="houseNumber" th:text="#{EMPLOYEE.houseNumber} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{houseNumber}" type="text" min="0" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.houseNumber}" />
                    </div>
                    <div class="form-group">
                        <label for="additionToAddress" th:text="#{EMPLOYEE.additionToAddress}"></label>
                        <input th:field="*{additionToAddress}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.additionToAddress}" />
                    </div>
                    <div class="form-group">
                        <label for="placeOfBirth" th:text="#{EMPLOYEE.placeOfBirth} + ' ' + #{EMPLOYEE.placeOfBirth.remark}"></label>
                        <input th:field="*{placeOfBirth}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.placeOfBirth}" />
                    </div>
                    <div class="form-group">
                        <label for="sex" th:text="#{EMPLOYEE.sex} +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{sex}" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option th:each="sex : ${allSex}" th:value="${sex.name()}" th:text="${sex.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="maritalStatus" th:text="#{EMPLOYEE.maritalStatus}  +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{maritalStatus}" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option
								th:each="maritalStatus : ${allMarital}"
								th:value="${maritalStatus.name()}"
								th:text="${maritalStatus.getText()}"></option>
						</select>
                    </div>
                    <div class="form-group">
                        <label for="disabled" th:text="#{EMPLOYEE.disabled} +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{disabled}" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option th:each="disabled : ${allDisabled}" th:value="${disabled.name()}" th:text="${disabled.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="iban" th:text="#{EMPLOYEE.iban} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{iban}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.iban}" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="token" th:text="#{EMPLOYEE.token}"></label> <input
                            th:field="*{token}" type="text" readonly="true"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="firstname" th:text="#{EMPLOYEE.firstName} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{firstName}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.firstName}" />
                    </div>
                    <div class="form-group">
                        <label for="birthDate" th:text="#{EMPLOYEE.birthDate} + ' ' + #{EMPLOYEE.birthDate.remark} + #{employeeEdit.mandatory}"></label>
                        <input th:field="*{birthDate}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.birthDate}" />
                    </div>
                    <div class="form-group">
                        <label for="postCode" th:text="#{EMPLOYEE.zipCode} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{zipCode}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.zipCode}" />
                    </div>
                    <div class="form-group">
                        <label for="city" th:text="#{EMPLOYEE.city} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{city}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.city}" />
                    </div>
                    <div class="form-group">
                        <label for="socialInsuranceNumber" th:text="#{EMPLOYEE.socialInsuranceNumber} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{socialInsuranceNumber}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.socialInsuranceNumber}" />
                    </div>
                    <div class="form-group">
                        <label for="countryOfBirth" th:text="#{EMPLOYEE.countryOfBirth} + ' ' + #{EMPLOYEE.countryOfBirth.remark}"></label>
                        <input th:field="*{countryOfBirth}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.countryOfBirth}" />
                    </div>
                    <div class="form-group">
                        <label for="citizenship" th:text="#{EMPLOYEE.citizenship} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{citizenship}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.citizenship}" />
                    </div>
                    <div class="form-group">
                        <label for="employerSocialSavingsNumber" th:text="#{EMPLOYEE.employerSocialSavingsNumber} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{employerSocialSavingsNumber}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.employerSocialSavingsNumber}" />
                    </div>
                    <div class="form-group">
                        <label for="bic" th:text="#{EMPLOYEE.bic} +#{employeeEdit.mandatory}"></label>
                        <input th:field="*{bic}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.bic}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 th:text="#{employeeEdit.taxesSection}"></h2>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="taxOfficeNumber" th:text="#{EMPLOYEE.taxOfficeNumber}"></label>
                        <input th:field="*{taxOfficeNumber}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.taxOfficeNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="taxClass" th:text="#{EMPLOYEE.taxClass}"></label>
                        <input th:field="*{taxClass}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.taxClass}"/>
                    </div>
                    <div class="form-group">
                        <label for="numberOfExemptionsForChildren" th:text="#{EMPLOYEE.numberOfExemptionsForChildren}"></label>
                        <input th:field="*{numberOfExemptionsForChildren}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.numberOfExemptionsForChildren}"/>
                    </div>
                    <div class="form-group">
                        <label for="parenthood" th:text="#{EMPLOYEE.parenthood} +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{healthInsurance}" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option th:each="parenthood : ${allParenthood}" th:value="${parenthood.name()}" th:text="${parenthood.getText()}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="identificationNumber" th:text="#{EMPLOYEE.identificationNumber}"></label>
                        <input th:field="*{identificationNumber}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.identificationNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="factor" th:text="#{EMPLOYEE.factor}"></label>
                        <input th:field="*{factor}" type="text" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.factor}"/>
                    </div>
                    <div class="form-group">
                        <label for="denomination" th:text="#{EMPLOYEE.denomination} +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{denomination}" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option th:each="denomination : ${allDenomination}" th:value="${denomination.name()}" th:text="${denomination.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="healthInsurance" th:text="#{EMPLOYEE.healthInsurance} +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{healthInsurance}" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option th:each="healthInsurance : ${allHealthInsurance}" th:value="${healthInsurance.name()}" th:text="${healthInsurance.getText()}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-block btn-lg btn-info">
                        <span class="glyphicon glyphicon-search" th:text="#{AccountPage.edit}"></span>
                    </button>
                </div>
            </div>
        </form>
</div>
</body>

</html>
