<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>


<body>
<div layout:fragment="content">
        <form th:action="(${preview}) ? @{/employee/confirm} : @{/employee/edit/submit}" th:object="${employee}">
            <input type='hidden' name='token' id ='token' th:value="*{token}" />
            <input type='hidden' name='id' id ='id' th:value="*{id}" />
            <h1 th:text="#{HEADER}"></h1>
            <div th:each="invalidFieldErrorMessage : ${invalidFieldErrorMessages}">
                    <div th:text="#{employeeEdit.invalid} + ' ' + #{'EMPLOYEE.invalidField.' + ${invalidFieldErrorMessage}}" style='text-align:center;color:red;font-weight:bold;'>Error message.</div>
            </div>
            <div th:each="emptyField : ${emptyFields}">
                <div th:text="#{employeeEdit.empty} + ' ' + #{'EMPLOYEE.' +${emptyField}}" style='text-align:center;color:orange;font-weight:bold;'>Warning message.</div>
            </div>
            
            <div th:each="formGroup : ${formInfo.getGroups()}" class="row">
                <h2 th:text="#{'employeeEdit.' + ${formGroup.getName()}}"></h2>
                <div th:each="field : ${formGroup.getFields()}" class="col-sm-6">
                    <div th:if="${__${field.getOptions().size()}__ &gt; 0}" class="form-group">
                        <label th:text="#{'EMPLOYEE.' + ${field.getName()}}"></label>
                        <div>
                            <select class="form-control" th:name="${field.getName()}" th:id="${field.getName()}" th:disabled="${preview}">
                                <option value="" th:text="#{EMPLOYEE.select}"></option>
                                <option th:each="option : ${field.getOptions()}" th:value="${option}" th:text="#{'EMPLOYEE.' + ${field.getName()} + '.' + ${option}}" th:selected="${field.getValue() == option}"></option>
                            </select>
                            <input th:if="${preview}" type='hidden' th:value="${field.getValue()}"  th:name="${field.getName()}" th:id="${field.getName()}" />
                        </div>
                    </div>
                    <div th:unless="${__${field.getOptions().size()}__ &gt; 0}" class="form-group">
                        <label th:text="#{'EMPLOYEE.' + ${field.getName()}}"></label>
                        <input th:name="${field.getName()}" th:id="${field.getName()}" th:value="${field.getValue()}" th:readonly="${preview}" class="form-control" th:placeholder="#{'EMPLOYEE.placeholder.' + ${field.getName()}}"/>
                    </div>
                </div>
            </div>
            
            <div th:unless="${preview}" class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-block btn-lg btn-info">
                        <span class="glyphicon glyphicon-search" th:text="#{AccountPage.edit}"></span>
                    </button>
                </div>
            </div>
            
            <div th:if="${preview}" class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table width="100%"
                        style='border-collapse: separate; border-spacing: 10px;'>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-block btn-lg btn-warning" onClick="history.go(-1);return true;">
                                    <span class="glyphicon glyphicon-pencil " th:text="#{EmployeePreview.back}"></span>
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                    <span class="glyphicon glyphicon-ok" th:text="#{EmployeePreview.send}"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
</div>
</body>

</html>
