<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>

<body>
<div layout:fragment="content">
        <form th:action="@{/employee/confirm}" th:object="${employee}">
            <div class="row">
                <h1 th:text="#{HEADER}"></h1>
                    <div th:each="emptyFieldWaringMessage : ${emptyFieldWaringMessages}">
                        <div th:text="#{'EMPLOYEE.EmptyFieldWarning.' + ${emptyFieldWaringMessage}}" style='color:orange;font-weight:bold;'>Warning message.</div>
                    </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="id" th:text="#{EMPLOYEE.id}"></label>
                        <input th:field="*{id}" type="text" readonly="true" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="personnelNumber" th:text="#{EMPLOYEE.personnelNumber}"></label>
                        <input th:field="*{personnelNumber}" type="number" readonly="true" class="form-control" th:placeholder="#{placeholder.personnelNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="familyName" th:text="#{EMPLOYEE.familyName}"></label>
                        <input th:field="*{familyName}" readonly="true" 
                            type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="maidenName" th:text="#{EMPLOYEE.maidenName}"></label>
                        <input th:field="*{maidenName}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="street" th:text="#{EMPLOYEE.street}"></label>
                        <input th:field="*{street}" readonly="true"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="houseNumber" th:text="#{EMPLOYEE.houseNumber}"></label>
                        <input th:field="*{houseNumber}" readonly="true" type="text" min="0" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="additionToAddress" th:text="#{EMPLOYEE.additionToAddress}"></label> <input th:field="*{additionToAddress}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="placeOfBirth" th:text="#{EMPLOYEE.placeOfBirth} + ' ' + #{EMPLOYEE.placeOfBirth.remark}"></label>
                        <input th:field="*{placeOfBirth}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="sex" th:text="#{EMPLOYEE.sex}"></label>
                        <select
                            th:field="*{sex}" readonly="true" 
                            class="form-control">
                            <option value="">Please select</option>
                            <option th:each="sex : ${allSex}" th:value="${sex.name()}" th:text="${sex.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="maritalStatus" th:text="#{EMPLOYEE.maritalStatus}"></label>
                        <select th:field="*{maritalStatus}" readonly="true" class="form-control">
                            <option value="">Please select</option>
                            <option th:each="maritalStatus : ${allMarital}" th:value="${maritalStatus.name()}" th:text="${maritalStatus.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="disabled" th:text="#{EMPLOYEE.disabled}"></label>
                        <select th:field="*{disabled}" readonly="true" class="form-control">
                            <option value="">Please select</option>
                            <option th:each="disabled : ${allDisabled}" th:value="${disabled.name()}" th:text="${disabled.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="iban" th:text="#{EMPLOYEE.iban}"></label>
                        <input th:field="*{iban}" readonly="true"  type="text" class="form-control" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="token" th:text="#{EmployeeSubmit.token}"></label>
                        <input th:field="*{token}" type="text" readonly="true" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="firstname" th:text="#{EMPLOYEE.firstName}"></label>
                        <input th:field="*{firstName}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="birthDate" th:text="#{EMPLOYEE.birthDate} + ' ' + #{EMPLOYEE.birthDate.remark}"></label>
                        <input th:field="*{birthDate}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="postCode" th:text="#{EMPLOYEE.zipCode}"></label>
                        <input th:field="*{zipCode}" readonly="true"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="city" th:text="#{EMPLOYEE.city}"></label>
                        <input th:field="*{city}" readonly="true"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="socialInsuranceNumber" th:text="#{EMPLOYEE.socialInsuranceNumber}"></label>
                        <input th:field="*{socialInsuranceNumber}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="countryOfBirth" th:text="#{EMPLOYEE.countryOfBirth} + ' ' + #{EMPLOYEE.countryOfBirth.remark}"></label>
                        <input th:field="*{countryOfBirth}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="citizenship" th:text="#{EMPLOYEE.citizenship}"></label>
                        <input th:field="*{citizenship}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="employerSocialSavingsNumber" th:text="#{EMPLOYEE.employerSocialSavingsNumber}"></label>
                        <input th:field="*{employerSocialSavingsNumber}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="bic" th:text="#{EMPLOYEE.bic}"></label>
                        <input th:field="*{bic}"  readonly="true" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 th:text="#{employeeEdit.taxesSection}"></h2>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="taxOfficeNumber" th:text="#{EMPLOYEE.taxOfficeNumber}"></label>
                        <input th:field="*{taxOfficeNumber}" type="text" readonly="true" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.taxOfficeNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="taxClass" th:text="#{EMPLOYEE.taxClass}"></label>
                        <input th:field="*{taxClass}" type="text" readonly="true" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.taxClass}"/>
                    </div>
                    <div class="form-group">
                        <label for="numberOfExemptionsForChildren" th:text="#{EMPLOYEE.numberOfExemptionsForChildren}"></label>
                        <input th:field="*{numberOfExemptionsForChildren}" type="text" readonly="true" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.numberOfExemptionsForChildren}"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="identificationNumber" th:text="#{EMPLOYEE.identificationNumber}"></label>
                        <input th:field="*{identificationNumber}" type="text" readonly="true" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.identificationNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="factor" th:text="#{EMPLOYEE.factor}"></label>
                        <input th:field="*{factor}" type="text" readonly="true" class="form-control" th:placeholder="#{EMPLOYEE.placeholder.factor}"/>
                    </div>
                    <div class="form-group">
                        <label for="denomination" th:text="#{EMPLOYEE.denomination} +#{employeeEdit.mandatory}"></label>
                        <select th:field="*{denomination}" readonly="true" class="form-control">
                            <option value="" th:text="#{EMPLOYEE.select}"></option>
                            <option th:each="denomination : ${allDenomination}" th:value="${denomination.name()}" th:text="${denomination.getText()}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table width="100%"
                        style='border-collapse: separate; border-spacing: 10px;'>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-block btn-lg btn-warning" onClick="history.go(-1);return true;">
                                    <span class="glyphicon glyphicon-pencil " th:text="#{EmployeePreview.back}"></span>
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                    <span class="glyphicon glyphicon-ok" th:text="#{EmployeePreview.send}"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
