<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>

<body>
<div layout:fragment="content">
        <form th:action="@{/employee/confirm}" th:object="${employee}">
            <div class="row">
                <h1 th:text="#{EmployeeForm.header}"></h1>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="id" th:text="#{employee.id}"></label>
                        <input th:field="*{id}" type="text" readonly="true" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="personnelNumber" th:text="#{employee.personnelNumber}"></label>
                        <input th:field="*{personnelNumber}" type="number" readonly="true" class="form-control" th:placeholder="#{placeholder.personnelNumber}"/>
                    </div>
                    <div class="form-group">
                        <label for="familyName" th:text="#{employee.familyName}"></label>
                        <input th:field="*{familyName}" readonly="true" 
                            type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="maidenName" th:text="#{employee.maidenName}"></label>
                        <input th:field="*{maidenName}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="street" th:text="#{employee.street}"></label> 
                        <input th:field="*{street}" readonly="true"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="houseNumber" th:text="#{employee.houseNumber}"></label>
                        <input th:field="*{houseNumber}" readonly="true" type="text" min="0" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="additionToAddress" th:text="#{employee.additionToAddress}"></label> <input th:field="*{additionToAddress}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="placeOfBirth" th:text="#{employee.placeOfBirth} + ' ' + #{employee.placeOfBirth.remark}"></label>
                        <input th:field="*{placeOfBirth}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="sex" th:text="#{employee.sex}"></label>
                        <select
                            th:field="*{sex}" readonly="true" 
                            class="form-control">
                            <option value="">Please select</option>
                            <option th:each="sex : ${allSex}" th:value="${sex.name()}" th:text="${sex.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="maritalStatus" th:text="#{employee.maritalStatus}"></label>
                        <select th:field="*{maritalStatus}" readonly="true" class="form-control">
                            <option value="">Please select</option>
                            <option th:each="maritalStatus : ${allMarital}" th:value="${maritalStatus.name()}" th:text="${maritalStatus.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="disabled" th:text="#{employee.disabled}"></label>
                        <select th:field="*{disabled}" readonly="true" class="form-control">
                            <option value="">Please select</option>
                            <option th:each="disabled : ${allDisabled}" th:value="${disabled.name()}" th:text="${disabled.getText()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="iban" th:text="#{employee.iban}"></label>
                        <input th:field="*{iban}" readonly="true"  type="text" class="form-control" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="token" th:text="#{EmployeeSubmit.token}"></label>
                        <input th:field="*{token}" type="text" readonly="true" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="client" th:text="#{client.companyName}"></label>
                        <input th:field="*{client.companyName}" type="text" readonly="true" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="firstname" th:text="#{employee.firstName}"></label>
                        <input th:field="*{firstName}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="birthDate" th:text="#{employee.birthDate} + ' ' + #{employee.birthDate.remark}"></label>
                        <input th:field="*{birthDate}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="postCode" th:text="#{employee.zipCode}"></label>
                        <input th:field="*{zipCode}" readonly="true"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="city" th:text="#{employee.city}"></label>
                        <input th:field="*{city}" readonly="true"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="socialInsuranceNumber" th:text="#{employee.socialInsuranceNumber}"></label>
                        <input th:field="*{socialInsuranceNumber}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="countryOfBirth" th:text="#{employee.countryOfBirth} + ' ' + #{employee.countryOfBirth.remark}"></label>
                        <input th:field="*{countryOfBirth}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="citizenship" th:text="#{employee.citizenship}"></label>
                        <input th:field="*{citizenship}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="employerSocialSavingsNumber" th:text="#{employee.employerSocialSavingsNumber}"></label>
                        <input th:field="*{employerSocialSavingsNumber}" readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="bic" th:text="#{employee.bic}"></label>
                        <input th:field="*{bic}"  readonly="true" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="employment" th:text="#{employee.employment}"></label>
                        <input th:field="*{employment}" type="text" readonly="true" class="form-control" th:placeholder="#{placeholder.employment}"/>
                    </div>
                    <div class="form-group">
                        <label for="temporaryEmployment" th:text="#{employee.temporaryEmployment}"></label>
                        <input th:field="*{temporaryEmployment}" type="text" readonly="true" class="form-control" th:placeholder="#{placeholder.temporaryEmployment}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table width="100%"
                        style='border-collapse: separate; border-spacing: 10px;'>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-block btn-lg btn-warning" onClick="history.go(-1);return true;">
                                    <span class="glyphicon glyphicon-pencil " th:text="#{EmployeePreview.back}"></span>
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                    <span class="glyphicon glyphicon-ok" th:text="#{EmployeePreview.send}"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
