<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>

<body>
    <div layout:fragment="content">
        <!-- Start: Language selectors -->
        <span style="float: right">
            <a href="?lang=en">
                <button type="button" th:with="lang=${en}">
                    <img th:src="@{/images/uk.gif}" src="../../static/images/uk.gif"
                         class="img-responsive" alt="Flag of the UK"
                         style="width: 32px; height: 24px;" />
                </button>
            </a>
            <a href="?lang=de">
                <button th:with="lang=${de}">
                    <img th:src="@{/images/deutschlandflagge.jpg}" src="../../static/images/uk.gif"
                         class="img-responsive" alt="Flag of Germany"
                         style="width: 32px; height: 24px;" />
                </button>
            </a>
        </span>
        <!-- End: Language selectors-->
        <form th:action="@{/employee/token/submit}">
            <h1 th:text="#{HEADER}"></h1>
            <div class="row">
                <div th:switch="${m}">
                    <div th:case="'invalid'" th:text="#{employeeToken.invalid}" style='color:red;font-weight:bold;'>Invalid login.</div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">

                    <div class="form-group">
                        <label for="inputtoken">Token</label>
                        <input type="text" class="form-control" name="token" required="true" id="inputtoken" th:placeholder="#{EMPLOYEE.placeholder.token}">
                        </input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" th:text="#{employeeToken.next}"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>