<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Personalfragebogen 2.0 - v0.1</title>
</head>
<body>

<div layout:fragment="content">
    <form th:action="@{/client/login}" th:object="${employee}" method="POST">
        <h1 th:text="#{ClientLogin.header}"></h1>

        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label th:for="email" th:text="#{ClientLogin.inputUsername}"></label>
                <input th:name="email" th:autofocus="true" th:required="true" th:id="email" class="form-control"
                       th:placeholder="#{placeholder.Username}" />
            </div>

            <div class="form-group">
                <label th:for="password" th:text="#{ClientLogin.inputPassword}"></label>
                <input th:name="password" type="password" th:required="true" th:id="password" class="form-control"
                       th:placeholder="#{placeholder.inputPassword}" />
            </div>
            <div class="form-group">
                <label th:for="remember-me">Remember me</label>
                <input th:name="remember-me" type="checkbox" th:id="remember-me" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-5">
                <button type="button" class="btn btn-primary"
                        onClick="parent.location='RegistrationPage.html'"
                        value='click here'>
                    <span class="glyphicon glyphicon-ok " th:text="#{ClientLogin.reg}"></span>
                </button>

                <button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-ok"
                              th:text="#{ClientLogin.preview}"></span>
                </button>
            </div>
        </div>
    </form>
</div>

</body>

</html>
