<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Personalfragebogen 2.0 - v0.1</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <div class="container">
        Thank you for the submitted data.
        
        To download data click here: <a href="/EmployeeTextFileDownload">Download text file with Employee data.</a>
                
        <footer>
            <p>&copy; AMOS GROUP 4 2015</p>
        </footer>
    </div>



    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
