<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Personalfragebogen 2.0 - v0.1</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h1 {
            text-align: center;
        }
    </style>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="container">
    <form th:action="@{/EmployeePreview}" th:object="${employee}" method="POST">
        <div class="row">
             <h1  th:text="#{EmployeeForm.header}"></h1>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="familyName" th:text="#{employee.familyName}"></label>
                    <input th:field="*{familyName}" required="true" type="text" class="form-control"
                           th:placeholder="#{placeholder.familyName}"/>
                </div>
                <div class="form-group">
                    <label for="maidenName" th:text="#{employee.maidenName}"></label>
                    <input th:field="*{maidenName}" type="text" class="form-control"
                           placeholder="Please enter your maiden name."/>
                </div>
                <div class="form-group">
                    <label for="street" th:text="#{employee.street}"></label>
                    <input th:field="*{street}" required="true" type="text" class="form-control"
                           placeholder="Please enter the street you live in."/>
                </div>
                <div class="form-group">
                    <label for="houseNumber" th:text="#{employee.houseNumber}"></label>
                    <input th:field="*{houseNumber}" required="true" type="number" min="0" class="form-control"
                           placeholder="Please enter your the house number."/>
                </div>
                <div class="form-group">
                    <label for="additionToAddress" th:text="#{employee.additionToAddress}"></label>
                    <input th:field="*{additionToAddress}" type="text" class="form-control"
                           placeholder="Please enter additional address information."/>
                </div>
                <div class="form-group">
                    <label for="placeOfBirth" th:text="#{employee.placeOfBirth}"></label>
                    <input th:field="*{placeOfBirth}" type="text" class="form-control"
                           placeholder="Please enter your place of birth."/>
                </div>
                <div class="form-group">
                    <label for="sex" th:text="#{employee.sex}"></label>
                    <select th:field="*{sex}" required="true" class="form-control">
                        <option value="">Please select</option>
                        <option th:each="sex : ${allSex}"
                                th:value="${sex.name()}"
                                th:text="${sex.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="maritalStatus" th:text="#{employee.maritalStatus}"></label>
                    <select th:field="*{maritalStatus}" required="true" class="form-control">
                        <option value="">Please select</option>
                        <option th:each="maritalStatus : ${allMarital}"
                                th:value="${maritalStatus.name()}"
                                th:text="${maritalStatus.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="disabled" th:text="#{employee.disabled}"></label>
                    <select th:field="*{disabled}" required="true" class="form-control">
                        <option value="">Please select</option>
                        <option th:each="disabled : ${allDisabled}"
                                th:value="${disabled.name()}"
                                th:text="${disabled.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="iban" th:text="#{employee.iban}"></label>
                    <input th:field="*{iban}" required="true" type="text" class="form-control"
                           placeholder="Please enter your bank account IBAN."/>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="firstname" th:text="#{employee.firstName}"></label>
                    <input th:field="*{firstName}" required="true" type="text" class="form-control"
                           placeholder="Please enter your first name."/>
                </div>
                <div class="form-group">
                    <label for="birthDate" th:text="#{employee.birthDate}"></label>
                    <input th:field="*{birthDate}" required="true" type="text" class="form-control"
                           placeholder="Please enter your date of birth."/>
                </div>
                <div class="form-group">
                    <label for="postCode" th:text="#{employee.zipCode}"></label>
                    <input th:field="*{zipCode}" required="true" type="text" class="form-control"
                           placeholder="Please enter your post code."/>
                </div>
                <div class="form-group">
                    <label for="city" th:text="#{employee.city}"></label>
                    <input th:field="*{city}" required="true" type="text" class="form-control"
                           placeholder="Please enter your city name."/>
                </div>
                <div class="form-group">
                    <label for="socialInsuranceNumber" th:text="#{employee.socialInsuranceNumber}"></label>
                    <input th:field="*{socialInsuranceNumber}" required="true" type="text" class="form-control"
                           placeholder="Please enter your insurance number."/>
                </div>
                <div class="form-group">
                    <label for="countryOfBirth" th:text="#{employee.countryOfBirth}"></label>
                    <input th:field="*{countryOfBirth}" type="text" class="form-control"
                           placeholder="Please enter your country of birth."/>
                </div>
                <div class="form-group">
                    <label for="citizenship" th:text="#{employee.citizenship}"></label>
                    <input th:field="*{citizenship}" required="true" type="text" class="form-control"
                           placeholder="Please enter your citizenship."/>
                </div>
                <div class="form-group">
                    <label for="employerSocialSavingsNumber" th:text="#{employee.employerSocialSavingsNumber}"></label>
                    <input th:field="*{employerSocialSavingsNumber}" type="text" class="form-control"
                           placeholder="Please enter your Arbeitnehmernummer (TODO?)."/>
                </div>
                <div class="form-group">
                    <label for="bic" th:text="#{employee.bic}"></label>
                    <input th:field="*{bic}" required="true" type="text" class="form-control"
                           placeholder="Please enter your bank account BIC."/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-block btn-lg btn-info"><span
                        class="glyphicon glyphicon-search" th:text="#{EmployeeForm.preview}"></span>
                </button>
            </div>
        </div>
    </form>
    <hr/>
    <footer>
        <p>&copy; 2015 AMOS GROUP 4</p>
    </footer>
</div>

<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
