<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Personalfragebogen 2.0 - v0.1</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h1 {
            text-align: center;
        }
    </style>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="container">
    <form th:action="@{/EmployeeSubmit}" th:object="${employee}" method="POST">
        <div class="row">
            <h1>DATEV Personalfragebogen 2.0</h1>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input th:field="*{lastName}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your last name."/>
                </div>
                <div class="form-group">
                    <label for="maidenName">Maiden Name</label>
                    <input th:field="*{maidenName}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your maiden name."/>
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input th:field="*{street}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter the street you live in."/>
                </div>
                <div class="form-group">
                    <label for="houseNumber">House Number</label>
                    <input th:field="*{houseNumber}" readonly="true" required="true" type="number" min="0" class="form-control"
                           placeholder="Please enter your the house number."/>
                </div>
                <div class="form-group">
                    <label for="additionToAddress">Addition to Address</label>
                    <input th:field="*{additionToAddress}" readonly="true" type="text" class="form-control"
                           placeholder="Please enter additional address information."/>
                </div>
                <div class="form-group">
                    <label for="placeOfBirth">Place of Birth (only if insurance number is missing)</label>
                    <input th:field="*{placeOfBirth}" readonly="true" type="text" class="form-control"
                           placeholder="Please enter your place of birth."/>
                </div>
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select th:field="*{sex}" readonly="true" required="true" class="form-control">
                        <option value="">Please select</option>
                        <option th:each="sex : ${allSex}"
                                th:value="${sex.name()}"
                                th:text="${sex.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="martialStatus">Martial Status</label>
                    <select th:field="*{martialStatus}" readonly="true" required="true" class="form-control">
                        <option value="">Please select</option>
                        <option th:each="martialStatus : ${allMartial}"
                                th:value="${martialStatus.name()}"
                                th:text="${martialStatus.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="disabled">Disabled</label>
                    <select th:field="*{disabled}" readonly="true" required="true" class="form-control">
                        <option value="">Please select</option>
                        <option th:each="disabled : ${allDisabled}"
                                th:value="${disabled.name()}"
                                th:text="${disabled.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="iban">IBAN</label>
                    <input th:field="*{iban}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your bank account IBAN."/>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input th:field="*{firstName}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your first name."/>
                </div>

                <div class="form-group">
                    <label for="birthDate">Birthday</label>
                    <input th:field="*{birthDate}" readonly="true" required="true" type="date" class="form-control"
                           placeholder="Please enter your date of birth."/>
                </div>
                <div class="form-group">
                    <label for="postCode">Zipcode</label>
                    <input th:field="*{zipCode}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your post code."/>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input th:field="*{city}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your city name."/>
                </div>
                <div class="form-group">
                    <label for="socialInsuranceNumber">Social Insurance Number</label>
                    <input th:field="*{socialInsuranceNumber}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your insurance number."/>
                </div>
                <div class="form-group">
                    <label for="countryOfBirth">Coutry of Birth (only if insurance number is missing</label>
                    <input th:field="*{countryOfBirth}" readonly="true" type="text" class="form-control"
                           placeholder="Please enter your country of birth."/>
                </div>
                <div class="form-group">
                    <label for="citizenship">Citizenship</label>
                    <input th:field="*{citizenship}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your citizenship."/>
                </div>
                <div class="form-group">
                    <label for="employerSocialSavingsNumber">Arbeitnehmernummer (Sozialkasse - Bau)</label>
                    <input th:field="*{employerSocialSavingsNumber}" readonly="true" type="text" class="form-control"
                           placeholder="Please enter your Arbeitnehmernummer (TODO?)."/>
                </div>
                <div class="form-group">
                    <label for="bic">BIC</label>
                    <input th:field="*{bic}" readonly="true" required="true" type="text" class="form-control"
                           placeholder="Please enter your bank account BIC."/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table width="100%" style='border-collapse: separate;border-spacing: 10px;'>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-block btn-lg btn-warning"
                                    onClick="history.go(-1);return true;"><span
                                    class="glyphicon glyphicon-pencil "></span>
                                Back
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-block btn-lg btn-primary"><span
                                    class="glyphicon glyphicon-ok"></span> Send
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    <hr/>
    <footer>
        <p>&copy; 2015 AMOS GROUP 4</p>
    </footer>
</div>

<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
