<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Personalfragebogen 2.0 - v0.1</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h1 {
            text-align: center;
        }
    </style>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="container">
       <p th:text="#{EmployeeSubmit.submitMessage}" />
        <p th:text="'Employee id:' + ${EmployeeId}" />


        <p th:text="#{EmployeeSubmit.downloadLabel}"/> <a th:href="'/EmployeeTextFileDownload?id=' + ${EmployeeId}" th:text="#{EmployeeSubmit.downloadLink}"></a> <br />
       	<p th:text="#{EmployeeSubmit.zipDownloadLabel}"/> <a th:href="'/EmployeeZipFileDownload?id=' + ${EmployeeId}" th:text="#{EmployeeSubmit.zipDownloadLink}"></a>               

        <footer>
            <p>&copy; AMOS GROUP 4 2015</p>
        </footer>
    </div>


    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
