<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Personalfragebogen 2.0 - v0.1</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <div class="container">
        <form action="/EmployeeSubmit">
            <div class="row">
                <h1 style="text-align: center">DATEV Personalfragebogen 2.0</h1>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="lastname">Familienname</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="lastname"  th:value="${lastname}"  placeholder="Please enter your last name." />
                    </div>
                    <div class="form-group">
                        <label for="maidenName">Geburtsname</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="maidenName" th:value="${maidenName}" placeholder="Please enter your maiden name." />
                    </div>
                    <div class="form-group">
                        <label for="street">Straße</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="street" th:value="${street}" placeholder="Please enter the street you live in." />
                    </div>
                    <div class="form-group">
                        <label for="houseNumber">Hausnummer</label>
                        <input disabled="true"  required="true" type="number" min="0" class="form-control" name="houseNumber"  th:value="${houseNumber}" placeholder="Please enter your the house number." />
                    </div>
                    <div class="form-group">
                        <label for="extAddr">Zusatz zur Anschrift</label>
                        <input disabled="true"  type="text" class="form-control" name="extAddr" th:value="${extAddr}" placeholder="Please enter additional adress information." />
                    </div>
                    <div class="form-group">
                        <label for="placeOfBirth">Geburtsort (nur bei fehlender Versicherungsnummer)</label>
                        <input disabled="true"  type="text" class="form-control" name="placeOfBirth" th:value="${placeOfBirth}"  placeholder="Please enter your place of birth." />
                    </div>
                    <div class="form-group">
                        <label for="gender">Geschlecht</label>
                        <select required="true" class="form-control">
                            <option value="">Bitte auswählen</option>
                            <option value="male">Männlich</option>
                            <option value="female">Weiblich</option>
                            <option value="other">Sonstiges</option>
                            <option value="unknown">Unbekannt</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="familyStatus">Familienstand</label>
                        <select required="true" class="form-control">
                            <option value="">Bitte auswählen</option>
                            <option value="single">Alleinstehend</option>
                            <option value="married">Verheiratet</option>
                            <option value="separated">Getrennt</option>
                            <option value="other">Sonstiges</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="severelyDisabled">Schwerbehindert</label>
                        <select required="true" class="form-control">
                            <option value="">Bitte auswählen</option>
                            <option value="yes">Ja</option>
                            <option value="no">Nein</option>
                            <option value="maybe">Vielleicht</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="iban">IBAN</label>
                        <input disabled="true" required="true" type="text" class="form-control" name="iban" th:value="${iban}" placeholder="Please enter your bank account IBAN." />
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="firstname">Vorname</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="firstname" th:value="${firstname}"  placeholder="Please enter your first name." />
                    </div>

                    <div class="form-group">
                        <label for="birthday">Geburtsdatum</label>
                        <input disabled="true"  required="true" type="date" class="form-control" name="birthday" th:value="${birthday}" placeholder="Please enter your date of birth." />
                    </div>
                    <div class="form-group">
                        <label for="postCode">Postleitzahl</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="postCode" th:value="${postCode}"  placeholder="Please enter your post code." />
                    </div>
                    <div class="form-group">
                        <label for="city">Ort</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="city" th:value="${city}"  placeholder="Please enter your city name." />
                    </div>

                    <div class="form-group">
                        <label for="insuranceNumber">Versicherungsnummer (gem. Sozialversicherungsausweis)</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="insuranceNumber" th:value="${insuranceNumber}"  placeholder="Please enter your insurance number." />
                    </div>

                    <div class="form-group">
                        <label for="countyOfBirth">Geburtsland (nur bei fehlender Versicherungsnummer)</label>
                        <input disabled="true"  type="text" class="form-control" name="countyOfBirth" th:value="${countyOfBirth}"  placeholder="Please enter your country of birth." />
                    </div>
                    <div class="form-group">
                        <label for="nationality">Staatsangehörigkeit</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="nationality" th:value="${nationality}"  placeholder="Please enter your nationality." />
                    </div>
                    <div class="form-group">
                        <label for="arbeitnehmernummerSozialkasseBau">Arbeitnehmernummer Sozialkasse - Bau</label>
                        <input disabled="true"  type="text" class="form-control" name="arbeitnehmernummerSozialkasseBau" th:value="${arbeitnehmernummerSozialkasseBau}" placeholder="Please enter your Arbeitnehmernummer (TODO?)." />
                    </div>
                    <div class="form-group">
                        <label for="bic">BIC</label>
                        <input disabled="true"  required="true" type="text" class="form-control" name="bic"  th:value="${bic}" placeholder="Please enter your bank account BIC." />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-block btn-lg btn-info"><span class="glyphicon glyphicon-ok"></span> Senden</button>
                </div>
            </div>
        </form>
        <hr />
        <footer>
            <p>&copy; AMOS GROUP 4 2015</p>
        </footer>
    </div>



    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
