<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Personalfragebogen 2.0 - v0.1</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h1 {
            text-align: center;
        }
    </style>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="container">
   	
    <span style="float: right">
    <a th:href="@{/EmployeeEdit(lang=en, id=${employee.id})}">
        <button type="button"  th:with="lang=${en}"  >
            <img th:src="@{/images/uk.gif}"
                 src="../static/images/uk.gif" class="img-responsive" alt="Responsive image" style="width:32px; height:24px;"/>
        </button >
    </a>
    <a th:href="@{/EmployeeEdit(lang=de, id=${employee.id})}">
        <button  th:with="lang=${de}">
            <img th:src="@{/images/deutschlandflagge.jpg}"
                 src="../static/images/uk.gif" class="img-responsive" alt="Responsive image" style="width:32px; height:24px;"/>
        </button>
    </a>

     </span>
<form th:action="@{/EditSubmit}" th:object="${employee}">
   	
        <div class="row">



             <h1  th:text="#{EmployeeForm.header}"></h1>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="id" th:text="#{EmployeeSubmit.id}"></label>
                    <input th:field="*{id}" type="text" readonly="true" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="familyName" th:text="#{employee.familyName} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{familyName}" type="text" class="form-control"
                           th:placeholder="#{placeholder.familyName}"/>
                </div>
                <div class="form-group">
                    <label for="maidenName" th:text="#{employee.maidenName}"></label>
                    <input th:field="*{maidenName}" type="text" class="form-control"
                           th:placeholder="#{placeholder.maidenName}"/>
                </div>
                <div class="form-group">
                    <label for="street" th:text="#{employee.street} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{street}" type="text" class="form-control"
                           th:placeholder="#{placeholder.street}"/>
                </div>
                <div class="form-group">
                    <label for="houseNumber" th:text="#{employee.houseNumber} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{houseNumber}" type="number" min="0" class="form-control"
                           th:placeholder="#{placeholder.houseNumber}"/>
                </div>
                <div class="form-group">
                    <label for="additionToAddress" th:text="#{employee.additionToAddress}"></label>
                    <input th:field="*{additionToAddress}" type="text" class="form-control"
                           th:placeholder="#{placeholder.additionToAddress}"/>
                </div>
                <div class="form-group">
                    <label for="placeOfBirth" th:text="#{employee.placeOfBirth}"></label>
                    <input th:field="*{placeOfBirth}" type="text" class="form-control"
                           th:placeholder="#{placeholder.placeOfBirth}"/>
                </div>
                <div class="form-group">
                    <label for="sex" th:text="#{employee.sex} +#{EmployeeForm.mandatory}"></label>
                    <select th:field="*{sex}" class="form-control">
                        <option value="" th:text="#{employee.select}"></option>
                        <option th:each="sex : ${allSex}"
                                th:value="${sex.name()}"
                                th:text="${sex.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="maritalStatus" th:text="#{employee.maritalStatus}  +#{EmployeeForm.mandatory}"></label>
                    <select th:field="*{maritalStatus}" class="form-control">
                        <option value="" th:text="#{employee.select}"></option>
                        <option th:each="maritalStatus : ${allMarital}"
                                th:value="${maritalStatus.name()}"
                                th:text="${maritalStatus.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="disabled" th:text="#{employee.disabled} +#{EmployeeForm.mandatory}"></label>
                    <select th:field="*{disabled}" class="form-control">
                        <option value="" th:text="#{employee.select}"></option>
                        <option th:each="disabled : ${allDisabled}"
                                th:value="${disabled.name()}"
                                th:text="${disabled.getText()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="iban" th:text="#{employee.iban} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{iban}" type="text" class="form-control"
                           th:placeholder="#{placeholder.iban}"/>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="firstname" th:text="#{employee.firstName} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{firstName}" type="text" class="form-control"
                           th:placeholder="#{placeholder.firstName}"/>
                </div>
                <div class="form-group">
                    <label for="birthDate" th:text="#{employee.birthDate} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{birthDate}" type="text" class="form-control"
                           th:placeholder="#{placeholder.birthDate}"/>
                </div>
                <div class="form-group">
                    <label for="postCode" th:text="#{employee.zipCode} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{zipCode}" type="text" class="form-control"
                           th:placeholder="#{placeholder.zipCode}"/>
                </div>
                <div class="form-group">
                    <label for="city" th:text="#{employee.city} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{city}" type="text" class="form-control"
                           th:placeholder="#{placeholder.city}"/>
                </div>
                <div class="form-group">
                    <label for="socialInsuranceNumber" th:text="#{employee.socialInsuranceNumber} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{socialInsuranceNumber}" type="text" class="form-control"
                           th:placeholder="#{placeholder.socialInsuranceNumber}"/>
                </div>
                <div class="form-group">
                    <label for="countryOfBirth" th:text="#{employee.countryOfBirth}"></label>
                    <input th:field="*{countryOfBirth}" type="text" class="form-control"
                           th:placeholder="#{placeholder.countryOfBirth}"/>
                </div>
                <div class="form-group">
                    <label for="citizenship" th:text="#{employee.citizenship} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{citizenship}" type="text" class="form-control"
                           th:placeholder="#{placeholder.citizenship}"/>
                </div>
                <div class="form-group">
                    <label for="employerSocialSavingsNumber" th:text="#{employee.employerSocialSavingsNumber} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{employerSocialSavingsNumber}" type="text" class="form-control"
                           th:placeholder="#{placeholder.employerSocialSavingsNumber}"/>
                </div>
                <div class="form-group">
                    <label for="bic" th:text="#{employee.bic} +#{EmployeeForm.mandatory}"></label>
                    <input th:field="*{bic}" type="text" class="form-control"
                           th:placeholder="#{placeholder.bic}"/>
                </div>
            </div>
        </div>
        		<div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-block btn-lg btn-info"><span
                        class="glyphicon glyphicon-search" th:text="#{EmployeeList.edit}"></span>
                </button>
              </div>
        </div>
</form>	


        
    <hr/>
    <footer>
        <p>&copy; 2015 AMOS GROUP 4</p>
    </footer>
</div>

<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
