<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <h2>Personalfragebogen 2.0 - v0.1</h2>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <style>
    h2{
margin-bottom: 150px;                             
  }
    body {
                margin: 0px;
        		position: absolute;
    			top: 30%;
    			left: 50%;
   				margin-right: -50%;
    			transform: translate(-50%, -50%) }
                               }  
                               
                                          </style>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputtoken" class="col-sm-2 control-label">Token</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="inputtoken" placeholder="Please enter token for verification">
    </input>
    </div>
  </div>
    
      <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Next</button>
    </div>
  </div>
</form>
<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>