<!DOCTYPE html>
<html class="no-js" lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Personalfragebogen 2.0</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- External CSS -->
    <link th:replace="fragments/assets :: css-ext" />

    <!-- JS in the head -->
    <script th:replace="fragments/assets :: js-head"></script>

    <!-- CSS -->
    <style th:replace="fragments/assets :: css"></style>

</head>

<body>
<div class="container">

    <!-- Insert the header -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Hook for decorating pages -->
    <div layout:fragment="content">
        This text will be overwritten by every decorating class using the same div.
    </div>

    <!-- Insert the footer -->
    <div th:replace="fragments/footer :: footer"></div>

</div>

<!-- JS in the body -->
<div th:replace="fragments/assets :: js-body"></div>

</body>
</html>
